/venv/
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/pythonProject1.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/aws.xml
